.footer_logo { /* Class Selector for footer logo image*/
    padding: 5px;
    margin: 0 auto;    
    width: 300px;
    height: auto;
}

footer { /*Selector for <footer>*/
    text-align: center;
    font-size: 0.75em;
    color: #707562;
    padding: 25px;
}

#rangeLakes {
    width: 320px;
    height: 24px;
}

.carousel-item img {
  width: 80%;         /* or a fixed width like 400px */
  max-width: 100%;     /* ensures it doesn’t overflow */
  height: auto;
  object-fit: cover;
}

