.footer_logo { /* Class Selector for footer logo image*/
    padding: 5px;
    margin: 0 auto;    
    width: 300px;
    height: auto;
}

footer { /*Selector for <footer>*/
    text-align: center;
    font-size: 0.75em;
    color: #707562;
    padding: 25px;
}

#rangeLakes {
    width: 320px;
    height: 24px;
}
.carousel-inner {
    height: 300px; 
}

.carousel-container {
    max-width: 600px;
    margin: auto;
}

.carousel-container .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.carousel-control-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 20px;
}

.carousel-control-container .carousel-control-prev, .carousel-control-container .carousel-control-next {
    position: static;
    width: auto;
    background: none;
    border: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: black;
    filter: invert(1);
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.carousel-label {
    color: black;         
    font-weight: bold;
    font-size: 1rem;
    margin-left: 8px;        
    vertical-align: middle;
}

.bubble-box {
  border-radius: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}


