:root {
    --header: #cad2c5;
    --boxbg: #52796f;
    --border-clr: #354f52;
    --shadow-clr: #2f3e46;
    --header-font: #F5F5DC;
    --btn-hover: #F5F5DC;
    --font-border: #FF4081;
    --background-full: #77bfa3;
    --Classic-Crimson: #d62839;
    --Rosewood: #ba324f; 
    --Baltic-Blue: #175676;
    --Turquoise-Surf: #4ba3c3;
    --sand-reflection: #c7a7ff;
    --Pale-Sky: #cce6f4;
}

* { 
    box-sizing: border-box; 
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #4c4d4c;
    padding: 25px;
    backdrop-filter: blur(6px) saturate(110%);
    border: 1px solid rgba(255,255,255,0.18);
}

.footer_logo {
    padding: 5px;
    margin: 0 auto;    
    width: 300px;
    height: auto;
}

.custom-header {
    padding: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    background: var(--background-full);
    text-align: center;
    font-weight: bolder;
    color: var(--header-font);
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    backdrop-filter: blur(6px) saturate(110%);
}

#signupForm {
    padding: 20px;
    border: 2px var(--border-clr) solid;
    border-radius: 10px;
    box-shadow: 6px 6px 10px var(--shadow-clr);
    background-color: var(--background-full);  
}

.custom-form {
    width: 100%;
    max-width: 470px;
}

.custom-submit {
    padding-top: 20px;
}

input[type="text"], input[type="password"]  {
    padding: 6px;
    border: 2px var(--border-clr) solid;
    border-radius: 12px;
    box-shadow: 8px 8px 10px #00000080;
    margin: 10px;
    background-color: var(--btn-hover);
}

select {
    padding: 6px;
    border: 2px var(--border-clr) solid;
    border-radius: 12px;
    box-shadow: 8px 8px 10px #00000080;
    margin: 5px;
    background-color: var(--btn-hover);
}

#zipcodeValid {
    padding-bottom: 25px;
}

input[type="radio"] {
    width: 20px;
    height: 15px;
    accent-color: var(--Rosewood);
    margin: 5px;
    cursor: pointer;
    background-color: var(--btn-hover);
}

#usernameError {
    padding-top: 20px;
    padding-bottom: 10px;
}

.custom-container {
    padding: 40px;
    border: 1px solid rgba(255,255,255,0.18);
    background: linear-gradient(to bottom, var(--Baltic-Blue) 30%, var(--Turquoise-Surf) 55%, var(--Pale-Sky) 78%);
    background-color: var(--background-full)
}

body {
    background-color: var(--background-full);
    font-weight: bold;
    border-radius: 10px;
}

#username {
    padding: 6px;
    border: 2px var(--border-clr) solid;
    border-radius: 12px;
    box-shadow: 8px 8px 10px #00000080;
    margin: 10px;
    background-color: var(--btn-hover);
}

#welcome-container {
    margin: 0 auto;
    padding: 20px;
    font-weight: 500px;
    font-size: 1.5em;
    color: var(--shadow-clr);
    border-radius: 10px;
}

.custom-welcome-container {
    margin: 40px;
    text-align: center;
}