:root {
    --header: #6ed6e4;
    --boxbg: #6ed6e4;
    --border-clr: #673AB7;
    --shadow-clr: #7C4DFF;
    --header-font: #F5F5DC;
    --btn-hover: #E0E0C4;
    --font-border: #FF4081;
}

* { 
    box-sizing: border-box; 
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #4c4d4c;
    padding: 25px;
}

.footer_logo {
    padding: 5px;
    margin: 0 auto;    
    width: 300px;
    height: auto;
}

.custom-header {
    padding: 20px;
}

#signupForm {
    padding: 20px;
    border: 2px var(--border-clr) solid;
    border-radius: 10px;
    box-shadow: 6px 6px 10px var(--shadow-clr);
    box-shadow: 8px 8px 10px #00000080;    
}

.custom-form {
    width: 100%;
    max-width: 450px;
}

.custom-submit {
    padding-top: 20px;
}

input {
    padding: 6px;
    border: 2px var(--border-clr) solid;

    border-radius: 12px;
    box-shadow: 8px 8px 10px #00000080;
    margin: 10px;
}

select {
    padding: 6px;
    border: 2px var(--border-clr) solid;
    border-radius: 12px;
    box-shadow: 8px 8px 10px #00000080;
    margin: 5px;  
}

#zipcodeValid {
    padding-bottom: 25px;
}