* { 
    box-sizing: border-box; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #fffaf0;
    margin: 0;
    padding: 0;
}

header, footer, main, #main {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    width: 720px;
}

header {
    background-color: #f4a460;
    border: 2px black solid;
    border-radius: 10px;
    box-shadow: 8px 8px 10px #00000080;
}

#main {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #707562;
    padding: 25px;
}

.footer_logo {
    padding: 5px;
    margin: 0 auto;    
    width: 300px;
    height: auto;
}


#currentStats {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.innerDiv {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 10px #00000040;
    font-size: large;
    padding: 20px;
    background-color: #fffaf0;
}

.prevGuess {
    margin-top: 10px;
    font-size: 1.1em;
    padding: 5px;
    font-size: large;
}

.guesses {
    font-weight: normal;
}

#guessBtn, #resetBtn {
    margin: 10px 5px;
    padding: 8px 15px;
    font-weight: bolder;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #f4a460;
    color: #000;
}

#guessBtn:hover, #resetBtn:hover {
    background-color: #e59440;
}

#feedback {

    font-weight: bold;
}

h1, h2 {
    margin: 5px;
}

#playerGuess {
    height: 35px;
    width: 100px;
}
