:root {
    --header: #cad2c5;
    --boxbg: #52796f;
    --border-clr: #354f52;
    --shadow-clr: #2f3e46;
    --header-font: #F5F5DC;
    --btn-hover: #F5F5DC;
    --font-border: #FF4081;
    --background-full: #77bfa3;
    --Classic-Crimson: #d62839;
    --Rosewood: #ba324f; 
    --Baltic-Blue: #175676;
    --Turquoise-Surf: #4ba3c3;
    --sand-reflection: #c7a7ff;
    --Pale-Sky: #cce6f4;
    --color-forest-green: #2F4F2F;
    --color-gold: #D4AF37;
    --color-dark-brown: #4B3621;
    --color-parchment: #F5F0E1;
    --color-rust: #B05A2C;
    --color-misty-gray: #8E8E8E;
}

* { 
    box-sizing: border-box; 
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #4c4d4c;
    padding: 25px;
    backdrop-filter: blur(6px) saturate(110%);
    border: 1px solid rgba(255,255,255,0.18);
}

.footer_logo {
    padding: 5px;
    margin: 0 auto;    
    width: 300px;
    height: auto;
}

.radio-custom {
    margin-right: 5px;
    margin-left: 15px;
    cursor: pointer;
}

#characterInfo, #cardInfo {
    margin-bottom: 15px;
    margin: 0 auto;
    color: var(--color-misty-gray);
    accent-color: var(--color-forest-green);
    text-decoration: none;
    border: var(--color-forest-green) 2px solid;
    background-color: var(--color-parchment);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

#characterform {
    margin: 0 auto;
    padding: 20px;
    border: 2px var(--color-dark-brown) solid;
    border-radius: 10px;
    box-shadow: 6px 6px 10px var(--color-dark-brown);
    background-color: var(--color-dark-brown);  
}

input[type="radio"] {
    width: 20px;
    height: 15px;
    accent-color: var(--color-forest-green);
    margin-right: 5px;
    margin-left: 15px;
    cursor: pointer;
    background-color: var(--btn-hover);
    font-weight: bolder;
}

.custom-header {
    background-color: var(--header);
    color: var(--header-font);
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.body-bg {
    background-color: var(--color-parchment);
}

h1, h2, h3, h4, h5, h6, label, p, span, div {
    font-family: 'Georgia', serif;
    accent-color: var(--color-forest-green);
    color: var(--color-dark-brown);
}

h6 a {
    color: var(--color-rust);
}

a {
    color: var(--color-rust);
}

a:hover {
    color: var(--color-gold);
}

#nameBtn, #cardBtn, #quoteBtn {
    background-color: var(--color-rust);
    color: var(--color-parchment);
    border-color: #8E8E8E;
}

#nameBtn:hover, #cardBtn:hover, #quoteBtn:hover {
    background-color: var(--color-rust);
    color: var(--color-parchment);
    background-color: var(--color-gold);
    color: var(--color-dark-brown);
    border-color: #8E8E8E;
}